<div id="sidebar">
    <ul class="sidebar-nav">
        <li class="sidebar-brand"> MENU </li>
        <li>
            <a href="#/panel/profe/perfil">
                <i class="fa fa-user" aria-hidden="true"></i> 
                <span class="hidden-xs hidden-sm">Mi Perfil</span>
            </a>
        </li>
        <li>
            <a href="#/panel/profe/cursos">
                <i class="fa fa-folder-o" aria-hidden="true"></i> 
                <span class="hidden-xs hidden-sm">Mis Cursos</span>
            </a>
        </li>
        <li>
            <a href="#/panel/profe/nuevo">
                <i class="fa fa-heart-o" aria-hidden="true"></i> 
                <span class="hidden-xs hidden-sm">Nuevo Curso</span>
            </a>
        </li>
        <li>
            <a href="#/panel/profe/archivos">
                <i class="fa fa-paperclip" aria-hidden="true"></i> 
                <span class="hidden-xs hidden-sm">Mis Archivos</span>
            </a>
        </li>
        <li>
            <a href="#/panel/profe/pagos">
                <i class="fa fa-money" aria-hidden="true"></i> 
                <span class="hidden-xs hidden-sm">Historial de Pagos</span>
            </a>
        </li>
        <li>
            <a href="logout" onclick="event.preventDefault(); document.getElementById('logout-form').submit();">
                <i class="fa fa-long-arrow-left" aria-hidden="true"></i> 
                <span class="hidden-xs hidden-sm">Logout</span>
            </a>
        </li>
    </ul>
</div>