 <div ng-include = "ProfeNuevo.menuTemplate.url" ></div>

 <section id="users" ng-controller="ProfeNuevoCtrl as nuevoCurso">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-3 col-lg-3">
                <!-- Sidebar -->
                <div ng-include = "ProfeNuevo.sidebarTemplate.url" ></div>
                <!-- /#sidebar-wrapper -->
            </div>
             <div class="col-xs-10 col-sm-10 col-md-9 col-lg-9">
                <!-- Page Content -->
                 <div id="page-content">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left cpanel-user-container-titulo">
                            <h3>{{titulo}}</h3>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cpanel-profes-info">
                            <form name="upload" ng-submit="uploadFile()">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profes-nuevocurso-asides">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2 cpanel-profes-info-picture">
                                            <figure style="background-image: url({{ thumbnail.dataUrl }});background-position: 50% 50%;background-size: cover;background-repeat: no-repeat;">
                                              <figcaption>
                                              <label for="file">
                                              <i class="fa fa-camera" aria-hidden="true" ></i><br> Cambiar Foto</a>
                                              <input type="file" id="file" name="file" style="visibility:hidden;" accept="image/*" onchange="angular.element(this).scope().photoChanged(this.files)" uploader-model="file">
                                              </label>
                                          </figcaption>
                                          </figure>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 pull-right cpanel-profes-info-data">
                                            <div class="input-group">
                                                <input type="text" name="nombre" id="nombre" placeholder="Titulo del curso" ng-model="curso.nombre">
                                                <div class="line-full"></div>
                                            </div>
                                            <div class="input-group">
                                                <label>Descripción corta (máximo 200 caracteres)</label>
                                                <textarea name="detalle_corto" id="detalle_corto" class="form-control" placeholder="Descripción del curso" ng-model="curso.descripcion"></textarea>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                              <div class="input-group">
                                                <label>Precio</label>
                                                <input type="text" name="precio" id="precio" class="form-control" placeholder="1200" ng-model="curso.precio">
                                              </div>
                                            </div>
                                             <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                              <div class="input-group">
                                                <label>Horas</label>
                                                <input type="text" name="horas" id="horas" class="form-control" placeholder="20 horas" ng-model="curso.horas">
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profes-nuevocurso-asides">
                                    <h3>¿QUÉ VAN A APRENDER LOS ALUMNOS?</h3>
                                    <p>Detalla brevemente los temas que va a aprender el alumno</p>
                                     <ul class="profes-tabs-ul list-inline text-uppercase">
                                        <li>
                                            <div class="profes-tabs-ul-li-1">
                                                <i class="fa fa-circle" aria-hidden="true"></i>
                                            </div>
                                            <div class="profes-tabs-ul-li-2">
                                                <input type="text" name="tema_1" id="tema_1" placeholder="ORATIORIA PARTE 1" ng-model="curso.tema_1">
                                                <a href="#" title="">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="profes-tabs-ul-li-1">
                                                <i class="fa fa-circle" aria-hidden="true"></i>
                                            </div>
                                            <div class="profes-tabs-ul-li-2">
                                                <input type="text" name="tema_2" id="tema_2" placeholder="ORATIORIA PARTE 2" ng-model="curso.tema_2">
                                                <a href="#" title="">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="profes-tabs-ul-li-1">
                                                <i class="fa fa-circle" aria-hidden="true"></i>
                                            </div>
                                            <div class="profes-tabs-ul-li-2">
                                                <input type="text" name="tema_3" id="tema_3" placeholder="ORATIORIA PARTE 3" ng-model="curso.tema_3">
                                                <a href="#" title="">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profes-nuevocurso-asides">
                                    <h3>DESCRIPCIÓN DETALLADA DEL CURSO</h3>
                                    <p>Descripción corta (máximo 500 caracteres)</p>
                                    <div class="input-group">
                                        <textarea name="detalle_largo" id="detalle_largo" class="form-control" placeholder="Escribe aquí" ng-model="curso.detalle"></textarea>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profes-nuevocurso-zona-buttons">
                                    <button type="button"  class="btn btn-custom"><i class="fa fa-plus" aria-hidden="true"></i> AGREGAR MODULOS</button>
                                    <hr>
                                    <div class="pull-right">
                                        <input class="btn btn-primary" type="submit" value="GUARDAR CURSO">
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /#page-content-wrapper -->
            </div>
        </div>
    </section>

<div ng-include = "ProfeNuevo.footerTemplate.url" ></div>
