 <div ng-include = "ProfeArchivos.menuTemplate.url" ></div>

 <section id="users">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-3 col-lg-3">
                <!-- Sidebar -->
                <div ng-include = "ProfeArchivos.sidebarTemplate.url" ></div>
                <!-- /#sidebar-wrapper -->
            </div>
             <div class="col-xs-10 col-sm-10 col-md-9 col-lg-9">
                <!-- Page Content -->
                <div id="page-content">
                        <div id="page-content-wrapper-float-perfil">
                            <i class="fa fa-paperclip" aria-hidden="true"></i>
                        </div>
                        <div class="row">
                            <!--<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Menu</a>-->

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-8 text-left cpanel-user-container-titulo">
                                <h3>MIS ARCHIVOS</h3>
                            </div>

                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <ul class="nav nav-tabs">
                                  <li class="active"><a data-toggle="tab" data-target="#home">VIDEOS</a></li>
                                  <li><a data-toggle="tab" data-target="#menu1">IMÁGENES</a></li>
                                  <button class="btn btn-danger pull-right">ELIMINAR SELECCIÓN</button>
                                </ul>

                                <div class="tab-content">
                                  <div id="home" class="tab-pane tab-panel-profes fade in active">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                             <div class="block-box">
                                                <div class="pic">
                                                    <figure><img src="http://lorempixel.com/640/480/business/" class="img-responsive"></figure>
                                                    <div class="hover-effect">
                                                       <a href=""><i class="fa fa-play-circle-o" aria-hidden="true"></i></a>
                                                    </div>
                                                    <div class="selected">
                                                        <a href=""><span class="amount"><i class="fa fa-circle" aria-hidden="true"></i></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="block-box">
                                                <div class="pic">
                                                    <figure><img src="http://lorempixel.com/640/480/business/" class="img-responsive"></figure>
                                                    <div class="hover-effect">
                                                       <a href=""><i class="fa fa-play-circle-o" aria-hidden="true"></i></a>
                                                    </div>
                                                    <div class="selected selected-active">
                                                        <a href=""><span class="amount"><i class="fa fa-circle" aria-hidden="true"></i></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="block-box">
                                                <div class="pic">
                                                    <figure><img src="http://lorempixel.com/640/480/business/" class="img-responsive"></figure>
                                                    <div class="hover-effect">
                                                       <a href=""><i class="fa fa-play-circle-o" aria-hidden="true"></i></a>
                                                    </div>
                                                    <div class="selected">
                                                        <a href=""><span class="amount"><i class="fa fa-circle" aria-hidden="true"></i></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="block-box">
                                                <div class="pic">
                                                    <figure><img src="http://lorempixel.com/640/480/business/" class="img-responsive"></figure>
                                                    <div class="hover-effect">
                                                       <a href=""><i class="fa fa-play-circle-o" aria-hidden="true"></i></a>
                                                    </div>
                                                    <div class="selected selected-active">
                                                        <a href=""><span class="amount"><i class="fa fa-circle" aria-hidden="true"></i></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="block-box">
                                                <div class="pic">
                                                    <figure><img src="http://lorempixel.com/640/480/business/" class="img-responsive"></figure>
                                                    <div class="hover-effect">
                                                       <a href=""><i class="fa fa-play-circle-o" aria-hidden="true"></i></a>
                                                    </div>
                                                    <div class="selected selected-active">
                                                        <a href=""><span class="amount"><i class="fa fa-circle" aria-hidden="true"></i></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="block-box">
                                                <div class="pic">
                                                    <figure><img src="http://lorempixel.com/640/480/business/" class="img-responsive"></figure>
                                                    <div class="hover-effect">
                                                       <a href=""><i class="fa fa-play-circle-o" aria-hidden="true"></i></a>
                                                    </div>
                                                    <div class="selected">
                                                        <a href=""><span class="amount"><i class="fa fa-circle" aria-hidden="true"></i></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                  <div id="menu1" class="tab-pane tab-panel-profes fade">
                                        <div class="row">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="block-box">
                                                    <div class="pic">
                                                        <figure><img src="http://lorempixel.com/640/480/business/" class="img-responsive"></figure>
                                                        <div class="selected">
                                                            <a href=""><span class="amount"><i class="fa fa-circle" aria-hidden="true"></i></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="block-box">
                                                    <div class="pic">
                                                        <figure><img src="http://lorempixel.com/640/480/business/" class="img-responsive"></figure>
                                                        <div class="selected selected-active">
                                                            <a href=""><span class="amount"><i class="fa fa-circle" aria-hidden="true"></i></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="block-box">
                                                    <div class="pic">
                                                        <figure><img src="http://lorempixel.com/640/480/business/" class="img-responsive"></figure>
                                                        <div class="selected selected-active">
                                                            <a href=""><span class="amount"><i class="fa fa-circle" aria-hidden="true"></i></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="block-box">
                                                    <div class="pic">
                                                        <figure><img src="http://lorempixel.com/640/480/business/" class="img-responsive"></figure>
                                                        <div class="selected selected-active">
                                                            <a href=""><span class="amount"><i class="fa fa-circle" aria-hidden="true"></i></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="block-box">
                                                    <div class="pic">
                                                        <figure><img src="http://lorempixel.com/640/480/business/" class="img-responsive"></figure>
                                                        <div class="selected">
                                                            <a href=""><span class="amount"><i class="fa fa-circle" aria-hidden="true"></i></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="block-box">
                                                    <div class="pic">
                                                        <figure><img src="http://lorempixel.com/640/480/business/" class="img-responsive"></figure>
                                                        <div class="selected">
                                                            <a href=""><span class="amount"><i class="fa fa-circle" aria-hidden="true"></i></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="block-box">
                                                    <div class="pic">
                                                        <figure><img src="http://lorempixel.com/640/480/business/" class="img-responsive"></figure>
                                                        <div class="selected">
                                                            <a href=""><span class="amount"><i class="fa fa-circle" aria-hidden="true"></i></span></a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                  </div>
                                </div>
                            </div>                             
                        </div>
                    </div>
                <!-- /#page-content-wrapper -->
            </div>
        </div>
    </section>

<div ng-include = "ProfeArchivos.footerTemplate.url" ></div>