 <div ng-include = "ProfeNuevo.menuTemplate.url" ></div>

 <section id="users">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-3 col-lg-3">
                <!-- Sidebar -->
                <div ng-include = "ProfeNuevo.sidebarTemplate.url" ></div>
                <!-- /#sidebar-wrapper -->
            </div>
             <div class="col-xs-10 col-sm-10 col-md-9 col-lg-9">
                <!-- Page Content -->
                 <div id="page-content">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left cpanel-user-container-titulo">
                            <h3>NUEVO CURSO</h3>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cpanel-profes-info">
                            <form action="" method="get" accept-charset="utf-8">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profes-nuevocurso-asides">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2 cpanel-profes-info-picture">
                                            <figure>
                                                <figcaption><i class="fa fa-camera" aria-hidden="true"></i><br> Cargar Foto</figcaption>
                                            </figure>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 pull-right cpanel-profes-info-data">
                                            <div class="input-group">
                                                <input type="text" name="titulo" id="titulo" placeholder="Titulo del curso">
                                                <div class="line-full"></div>
                                            </div>
                                            <div class="input-group">
                                                <label>Descripción corta (máximo 200 caracteres)</label>
                                                <textarea name="detalle_corto" id="detalle_corto" class="form-control" placeholder="Descripción del curso"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profes-nuevocurso-asides">
                                    <h3>¿QUÉ VAN A APRENDER LOS ALUMNOS?</h3>
                                    <p>Detalla brevemente los temas que va a aprender el alumno</p>
                                     <ul class="profes-tabs-ul list-inline text-uppercase">
                                        <li>
                                            <div class="profes-tabs-ul-li-1">
                                                <i class="fa fa-circle" aria-hidden="true"></i>
                                            </div>
                                            <div class="profes-tabs-ul-li-2">
                                                <input type="text" name="titulo_tema" placeholder="ORATIORIA PARTE 1">
                                                <a href="#" title="">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="profes-tabs-ul-li-1">
                                                <i class="fa fa-circle" aria-hidden="true"></i>
                                            </div>
                                            <div class="profes-tabs-ul-li-2">
                                                <input type="text" name="titulo_tema" placeholder="ORATIORIA PARTE 2">
                                                <a href="#" title="">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="profes-tabs-ul-li-1">
                                                <i class="fa fa-circle" aria-hidden="true"></i>
                                            </div>
                                            <div class="profes-tabs-ul-li-2">
                                                <input type="text" name="titulo_tema" placeholder="ORATIORIA PARTE 3">
                                                <a href="#" title="">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profes-nuevocurso-asides">
                                    <h3>DESCRIPCIÓN DETALLADA DEL CURSO</h3>
                                    <p>Descripción corta (máximo 500 caracteres)</p>
                                    <div class="input-group">
                                        <textarea name="detalle_largo" id="detalle_largo" class="form-control" placeholder="Escribe aquí"></textarea>
                                    </div>
                                </div>


                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profes-nuevocurso-asides">
                                    <h3>MODULOS</h3>
                                    <div class="container-fluid">
                                        <div class="row">

                                            <!-- Modulos -->
                                            <div ng-repeat = "(key, value) in ProfeNuevo.modulos track by key" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profes-tabs-moduls">

                                              <!-- Modulo Inactivo -->
                                              <div ng-show = "!value.visible">
                                                <div class="profes-tabs-moduls-box-float-active">
                                                    <a ng-click = "ProfeNuevo.removerModulo(key)" ><i class="fa fa-times" aria-hidden="true"></i></a>
                                                </div>
                                                <div ng-click="ProfeNuevo.setearVisible(key)" class="profes-tabs-moduls-1-1-inactive"></div>
                                                <div class="profes-tabs-moduls-1-2">
                                                    <div class="profes-tabs-moduls-1-2-1">
                                                        <a href=""><i class="fa fa-ellipsis-v" aria-hidden="true"></i><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                                                    </div>
                                                    <div class="profes-tabs-moduls-1-2-2">
                                                        <h3>{{value.titulo}}</h3>
                                                        <p>{{value.descripcion}}</p>
                                                        <a href="#" title=""><i class="fa fa-angle-down" id="cpanel-user-icon-fa-angle" aria-hidden="true"></i> 5 CLASES</a>
                                                    </div>
                                                </div>
                                                <div class="profes-tabs-moduls-1-3-inactive"></div>
                                              </div>
                                              <!-- Modulo Inactivo-Wrapper -->

                                              <!-- Modulo Activo -->
                                              <div ng-show = "value.visible">
                                                <div class="profes-tabs-moduls-box-float-active">
                                                    <a ng-click = "ProfeNuevo.removerModulo(key)" ><i class="fa fa-times" aria-hidden="true"></i></a>
                                                </div>
                                                <div ng-click="ProfeNuevo.setearVisible(key)"  class="profes-tabs-moduls-1-1-active"></div>
                                                <div class="profes-tabs-moduls-1-2">
                                                    <h3><a href="" class="profes-moduls-edit-active"><i class="fa fa-ellipsis-v" aria-hidden="true"></i><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>{{value.titulo}}</h3>
                                                    <div class="input-group">
                                                        <input type="text" name="titulo_modulo" id="titulo_modulo" class="form-control" placeholder="TITULO DEL MODULO" ng-model = "value.titulo">
                                                    </div>
                                                    <div class="input-group">
                                                        <label>Descripción corta (máximo 200 caracteres)</label><br><br>
                                                        <textarea name="detalle_corto" id="detalle_corto" class="form-control" placeholder="Descripción del curso" ng-model="value.descripcion">{{value.descripcion}}</textarea>
                                                    </div>
                                                </div>

                                                <div class="profes-tabs-moduls-1-3-active">
                                                    <h3>CLASES</h3>

                                                    <div class="profes-tabs-moduls-1-3-clase">
                                                        <div class="profes-tabs-moduls-box-float-active">
                                                            <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                        </div>
                                                        <div class="profes-tabs-moduls-1-3-clase-edit">
                                                            <a href="" title="Editar"><i class="fa fa-ellipsis-v" aria-hidden="true"></i><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                                                        </div>
                                                        <div class="profes-tabs-moduls-1-3-clase-active">
                                                            <h3>CLASE 1 - PRÁCTICAS DE LENGUAJE</h3>
                                                            <p>VIDEO CARGADO <span>Duración: 03:49</span></p>
                                                        </div>
                                                    </div>

                                                    <!-- NUEVO MODULO CLASE-->
                                                    <div class="profes-tabs-moduls-1-3-clase">
                                                        <div class="profes-tabs-moduls-box-float-active">
                                                            <a href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                        </div>
                                                        <div class="profes-tabs-moduls-1-3-clase-edit">
                                                            <a href="" title="Editar"><i class="fa fa-ellipsis-v" aria-hidden="true"></i><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                                                        </div>
                                                        <div class="profes-tabs-moduls-1-3-clase-active">
                                                            <h3>CLASE 1 - PRÁCTICAS DE LENGUAJE</h3>
                                                            <input type="text" placeholder="Título de la clase">
                                                            <img src="images/cursos3.jpg" class="img-responsive">
                                                            
                                                            <span class="btn-light"><i class="fa fa-cloud-upload" aria-hidden="true"></i> SUBIR MATERIAL</span> <br><br><br>

                                                            <button type="button" ng-click= "" class="btn btn-custom">GUARDAR</button>
                                                            <button type="button" ng-click= "" class="btn btn-custom">GUARDAR Y AGREGAR OTRA</button>
                                                        </div>
                                                    </div>
                                                    <!-- END NUEVO MODULO CLASE -->

                                                    <!-- <div class="profes-tabs-moduls-1-3-clase"></div> -->

                                                    <button type="button" ng-click= "" class="btn btn-custom">AGREGAR CLASE</button>
                                                </div>
                                              </div>
                                              <!-- Modulo Activo-Wrapper -->

                                            </div>
                                            <!-- Modulos-Wrapper -->


                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profes-nuevocurso-zona-buttons">
                                                <button type="button" ng-click = "ProfeNuevo.agregarModulo()" class="btn btn-custom"><i class="fa fa-plus" aria-hidden="true"></i> AGREGAR MODULO</button>
                                                <hr>
                                                <div class="pull-right">
                                                    <button class="btn btn-danger">ELIMINAR CURSO</button>
                                                    <button class="btn btn-primary">GUARDAR CAMBIOS</button>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
                <!-- /#page-content-wrapper -->
            </div>
        </div>
    </section>

<div ng-include = "ProfeNuevo.footerTemplate.url" ></div>
