 <div ng-include = "ProfePagos.menuTemplate.url" ></div>

 <section id="users">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-3 col-lg-3">
                <!-- Sidebar -->
                <div ng-include = "ProfePagos.sidebarTemplate.url" ></div>
                <!-- /#sidebar-wrapper -->
            </div>
             <div class="col-xs-10 col-sm-10 col-md-9 col-lg-9">
                <!-- Page Content -->
               <div id="page-content">
                    <div id="page-content-wrapper-float-pagos">
                        <i class="fa fa-money" aria-hidden="true"></i>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left cpanel-user-container-titulo">
                            <h3>PAGOS</h3>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cpanel-user-container-table-pagos">
                            <div class="thead">
                                <ul class="list-inline">
                                    <li class="first">COMPRADO</li>
                                    <li class="second">FECHA</li>
                                    <li class="third">MONTO</li>
                                </ul>
                            </div>
                            <div class="tbody">
                                <ul>
                                    <li>
                                        <div class="first">ORATORIA Y LENGUAJE CORPORAL Y KALSFALKSNFAL…</div>
                                        <div class="second">05/03/2016</div>
                                        <div class="third">$1300</div>
                                    </li>
                                    <li>
                                        <div class="first">ORATORIA Y LENGUAJE CORPORAL Y KALSFALKSNFAL…</div>
                                        <div class="second">05/03/2016</div>
                                        <div class="third">$1300</div>
                                    </li>
                                    <li>
                                        <div class="first">ORATORIA Y LENGUAJE CORPORAL Y KALSFALKSNFAL…</div>
                                        <div class="second">05/03/2016</div>
                                        <div class="third">$1300</div>
                                    </li>
                                    <li>
                                        <div class="first">ORATORIA Y LENGUAJE CORPORAL Y KALSFALKSNFAL…</div>
                                        <div class="second">05/03/2016</div>
                                        <div class="third">$1300</div>
                                    </li>
                                    <li>
                                        <div class="first">ORATORIA Y LENGUAJE CORPORAL Y KALSFALKSNFAL…</div>
                                        <div class="second">05/03/2016</div>
                                        <div class="third">$1300</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#page-content-wrapper -->
            </div>
        </div>
    </section>

<div ng-include = "ProfePagos.footerTemplate.url" ></div>