 <div ng-include = "ProfeNuevo.menuTemplate.url" ></div>

 <section id="users" ng-controller="ProfeNuevoCtrl as curso">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-3 col-lg-3">
                <!-- Sidebar -->
                <div ng-include = "ProfeNuevo.sidebarTemplate.url" ></div>
                <!-- /#sidebar-wrapper -->
            </div>
             <div class="col-xs-10 col-sm-10 col-md-9 col-lg-9">
                <!-- Page Content -->
                 <div id="page-content">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left cpanel-user-container-titulo">
                            <h3>{{titulo}}</h3>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 cpanel-profes-info">
                            <form name="upload" ng-submit="uploadFile()" enctype="multipart/form-data">
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profes-nuevocurso-asides">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-2 cpanel-profes-info-picture">
                                            <figure style="background-image: url({{ thumbnail.dataUrl }});background-position: 50% 50%;background-size: cover;background-repeat: no-repeat;">
                                              <figcaption>
                                              <label for="file">
                                              <i class="fa fa-camera" aria-hidden="true" ></i><br> Cambiar Foto</a>
                                              <input type="file" id="file" name="file" style="visibility:hidden;" accept="image/*" onchange="angular.element(this).scope().photoChanged(this.files)" uploader-model="file">
                                              </label>
                                          </figcaption>
                                          </figure>
                                        </div>
                                        <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8 pull-right cpanel-profes-info-data">
                                            <div class="input-group">
                                                <input type="text" name="nombre" id="nombre" placeholder="Titulo del curso" ng-model="nombre">
                                                <div class="line-full"></div>
                                            </div>
                                            <div class="input-group">
                                                <label>Descripción corta (máximo 200 caracteres)</label>
                                                <textarea name="detalle_corto" id="detalle_corto" class="form-control" placeholder="Descripción del curso" ng-model="descripcion"></textarea>
                                            </div>
                                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                              <div class="input-group">
                                                <label>Precio</label>
                                                <input type="text" name="precio" id="precio" class="form-control" placeholder="1200" ng-model="precio">
                                              </div>
                                            </div>
                                             <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                                              <div class="input-group">
                                                <label>Horas</label>
                                                <input type="text" name="horas" id="horas" class="form-control" placeholder="20 horas" ng-model="horas">
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profes-nuevocurso-asides">
                                    <h3>¿QUÉ VAN A APRENDER LOS ALUMNOS?</h3>
                                    <p>Detalla brevemente los temas que va a aprender el alumno</p>
                                     <ul class="profes-tabs-ul list-inline text-uppercase">
                                        <li>
                                            <div class="profes-tabs-ul-li-1">
                                                <i class="fa fa-circle" aria-hidden="true"></i>
                                            </div>
                                            <div class="profes-tabs-ul-li-2">
                                                <input type="text" name="tema_1" id="tema_1" placeholder="ORATIORIA PARTE 1" ng-model="tema_1">
                                                <a href="#" title="">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="profes-tabs-ul-li-1">
                                                <i class="fa fa-circle" aria-hidden="true"></i>
                                            </div>
                                            <div class="profes-tabs-ul-li-2">
                                                <input type="text" name="tema_2" id="tema_2" placeholder="ORATIORIA PARTE 2" ng-model="tema_2">
                                                <a href="#" title="">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="profes-tabs-ul-li-1">
                                                <i class="fa fa-circle" aria-hidden="true"></i>
                                            </div>
                                            <div class="profes-tabs-ul-li-2">
                                                <input type="text" name="tema_3" id="tema_3" placeholder="ORATIORIA PARTE 3" ng-model="tema_3">
                                                <a href="#" title="">
                                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                                </a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profes-nuevocurso-asides">
                                    <h3>DESCRIPCIÓN DETALLADA DEL CURSO</h3>
                                    <p>Descripción corta (máximo 500 caracteres)</p>
                                    <div class="input-group">
                                        <textarea name="detalle_largo" id="detalle_largo" class="form-control" placeholder="Escribe aquí" ng-model="detalle"></textarea>
                                    </div>
                                </div>
                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profes-nuevocurso-asides">
                                    <h3>MODULOS</h3>
                                    <div class="container-fluid">
                                        <div class="row">

                                 <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profes-nuevocurso-asides" ng-controller="ProfeModulos as modulos">
                                    <h3>MODULOS</h3>
                                    <div class="container-fluid">
                                        <div class="row">

                                            <!-- Modulos -->
                                            <div ng-repeat = "(key, value) in modulos.modulos track by key" class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profes-tabs-moduls">

                                              <!-- Modulo Inactivo -->
                                              <div ng-show = "!value.visible">
                                                <div class="profes-tabs-moduls-box-float-active">
                                                    <a ng-click = "modulos.removerModulo(key)" ><i class="fa fa-times" aria-hidden="true"></i></a>
                                                </div>
                                                <div ng-click="modulos.setearVisible(key)" class="profes-tabs-moduls-1-1-inactive"></div>
                                                <div class="profes-tabs-moduls-1-2">
                                                    <div class="profes-tabs-moduls-1-2-1">
                                                        <a href=""><i class="fa fa-ellipsis-v" aria-hidden="true"></i><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                                                    </div>
                                                    <div class="profes-tabs-moduls-1-2-2">
                                                        <h3>{{value.titulo}}</h3>
                                                        <p>{{value.descripcion}}</p>
                                                        <a href="" ng-click="modulos.setearVisible(key)"><i class="fa fa-angle-down" id="cpanel-user-icon-fa-angle" aria-hidden="true"></i> 5 CLASES</a>
                                                    </div>
                                                </div>
                                                <div class="profes-tabs-moduls-1-3-inactive"></div>
                                              </div>
                                              <!-- Modulo Inactivo-Wrapper -->

                                              <!-- Modulo Activo -->
                                              <div ng-show = "value.visible">
                                                <div class="profes-tabs-moduls-box-float-active">
                                                    <a ng-click = "modulos.removerModulo(key)" ><i class="fa fa-times" aria-hidden="true"></i></a>
                                                </div>
                                                <div ng-click="modulos.setearVisible(key)"  class="profes-tabs-moduls-1-1-active"></div>
                                                <div class="profes-tabs-moduls-1-2">
                                                    <h3><a href="" class="profes-moduls-edit-active"><i class="fa fa-ellipsis-v" aria-hidden="true"></i><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>{{value.titulo}}</h3>
                                                    <div class="input-group">
                                                        <input type="text" name="titulo_modulo" id="titulo_modulo" class="form-control" placeholder="TITULO DEL MODULO" ng-model = "value.titulo">
                                                    </div>
                                                    <div class="input-group">
                                                        <label>Descripción corta (máximo 200 caracteres)</label><br><br>
                                                        <textarea name="detalle_corto" id="detalle_corto" class="form-control" placeholder="Descripción del curso" ng-model="value.descripcion">{{value.descripcion}}</textarea>
                                                    </div>
                                                </div>


                                                    <h3 class="titulo-clase">CLASES</h3>
                                                    <div ng-repeat = "(keyClase, valueClase) in value.clases track by keyClase"  class="profes-tabs-moduls-1-3-active">
                                                    <div ng-show = "!valueClase.visible">
                                                      <div class="profes-tabs-moduls-1-3-clase">
                                                          <div class="profes-tabs-moduls-box-float-active">
                                                              <a ng-click="modulos.removerClase(key, keyClase)"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                          </div>
                                                          <div class="profes-tabs-moduls-1-3-clase-edit">
                                                              <a ng-click = "modulos.setearClaseVisible(key, keyClase)" title="Editar"><i class="fa fa-ellipsis-v" aria-hidden="true"></i><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                                                          </div>
                                                          <div class="profes-tabs-moduls-1-3-clase-active">
                                                              <h3>{{valueClase.titulo}}</h3>
                                                              <p>VIDEO CARGADO <span>Duración: 03:49</span></p>
                                                          </div>
                                                      </div>
                                                    </div>

                                                    <!-- NUEVO MODULO CLASE-->
                                                    <div ng-show = "valueClase.visible">
                                                      <div class="profes-tabs-moduls-1-3-clase">
                                                          <div class="profes-tabs-moduls-box-float-active">
                                                              <a ng-click="modulos.removerModulo(key, keyClase)"><i class="fa fa-times" aria-hidden="true"></i></a>
                                                          </div>
                                                          <div class="profes-tabs-moduls-1-3-clase-edit">
                                                              <a ng-click = "modulos.setearClaseVisible(key, keyClase)" title="Editar"><i class="fa fa-ellipsis-v" aria-hidden="true"></i><i class="fa fa-ellipsis-v" aria-hidden="true"></i></a>
                                                          </div>
                                                          <div class="profes-tabs-moduls-1-3-clase-active">
                                                              <h3>{{valueClase.titulo}}</h3>
                                                              <input type="text" placeholder="Título de la clase" ng-model="valueClase.titulo">
                                                              <img src="images/cursos3.jpg" class="img-responsive">

                                                              <span class="btn-light"><i class="fa fa-cloud-upload" aria-hidden="true"></i> SUBIR MATERIAL</span> <br><br><br>

                                                              <button type="button" ng-click= "modulos.setearClaseVisible(key, keyClase)" class="btn btn-custom">GUARDAR</button>
                                                              <button type="button" ng-click= "modulos.setearClaseVisibleYAgregarOtra(key, keyClase)" class="btn btn-custom">GUARDAR Y AGREGAR OTRA</button>
                                                          </div>
                                                      </div>
                                                    </div>

                                                    <!-- END NUEVO MODULO CLASE -->

                                                    <!-- <div class="profes-tabs-moduls-1-3-clase"></div> -->
                                                  </div>
                                                    <button type="button" ng-click= "modulos.agregarClase(key)" class="btn btn-custom agregar-clase">AGREGAR CLASE</button>
                                              </div>
                                              <!-- Modulo Activo-Wrapper -->

                                            </div>
                                            <!-- Modulos-Wrapper -->
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profes-nuevocurso-zona-buttons">
                                        <button type="button" ng-click = "modulos.agregarModulo()" class="btn btn-custom"><i class="fa fa-plus" aria-hidden="true"></i> AGREGAR MODULO</button>
                                        <button type="button" ng-click = "modulos.guardarModulos()" class="btn btn-primary">GUARDAR</button>
                                    </div>
                                </div>

                                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 profes-nuevocurso-zona-buttons">
                                    <hr>
                                    <div class="pull-right">
                                        <button class="btn btn-danger">ELIMINAR CURSO</button>
                                        <button type="submit" class="btn btn-primary">GUARDAR CAMBIOS</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /#page-content-wrapper -->
            </div>
        </div>
    </section>

<div ng-include = "ProfeNuevo.footerTemplate.url" ></div>
