<section class="container-fliud" id="home-como-funciona" style="background: url('http://lorempixel.com/640/480/business/'); background-repeat: no-repeat; background-size: cover">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
            <h2>¿Cómo funciona?</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
            <div class="home-como-funciona-icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
            <div class="line"></div>
            <div class="home-como-funciona-text">
                <p>Sin horarios, ni conocimiento previo, aprendes a tu propio ritmo desde el lugar que elijas y en español. Realiza tus prácticas desde un computador con acceso a internet. Tu tablet o móvil son un instrumento perfecto para avanzar también en la teoría.
                </p>
            </div>
        </div>
         <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
            <div class="home-como-funciona-icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
            <div class="line"></div>
            <div class="home-como-funciona-text">
                <p>Todo el material que necesitas, incluyendo videos de instrucción, el apoyo de expertos en tecnología digital a través de ‘Tutor Café’ y tutorías privadas, están disponibles en la plataforma de aprendizaje online a la que puedes acceder las 24 horas
                </p>
            </div>
        </div>
         <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
            <div class="home-como-funciona-icon"><i class="fa fa-check-square-o" aria-hidden="true"></i></div>
            <div class="line"></div>
            <div class="home-como-funciona-text">
                <p>Una vez termines el curso, obtendrás un ‘Certiﬁcado’ con aplicaciones internacionales que resaltará tus nuevas competencias que contará con un código personal de fácil veriﬁcación online y reconocimiento en LinkedIn.
                </p>
            </div>
        </div>
    </div>
</section>