 <div ng-include = "UserPlayCurso.menuTemplate.url" ></div>

 <section id="users" class="play-video">
        <nav class="side-nav-videos">
            <h1>Algo</h1>
            <div class="modulo">
                <h2>> MÓDULO 1</h2>
                <div class="clase">
                    <h3>CLASE 1: INTRODUCCIÓN A LA ORATORIA</h3>
                    <p>02:45 <i class="fa fa-cloud-download" aria-hidden="true"></i> Descarga los archivos de la clase </p>
                </div>  
                <div class="clase">
                    <h3>CLASE 2: INTRODUCCIÓN A LA ORATORIA</h3>
                    <p>07:45 <i class="fa fa-cloud-download" aria-hidden="true"></i> Descarga los archivos de la clase </p>
                </div>  
                <div class="clase">
                    <h3>CLASE 3: INTRODUCCIÓN A LA ORATORIA</h3>
                    <p>03:35 <i class="fa fa-cloud-download" aria-hidden="true"></i> Descarga los archivos de la clase </p>
                </div>    

            </div>
        </nav>
        <div class="row">
           <iframe src="https://player.vimeo.com/video/169309392?color=ffffff&badge=0" width="100%" height="700px" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>
    </section>

<div ng-include = "UserPlayCurso.footerTemplate.url" ></div>