 <div ng-include = "UserFavoritos.menuTemplate.url" ></div>

 <section id="users">
        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-3 col-lg-3">
                <!-- Sidebar -->
                <div ng-include = "UserFavoritos.sidebarTemplate.url" ></div>
                <!-- /#sidebar-wrapper -->
            </div>
             <div class="col-xs-10 col-sm-10 col-md-9 col-lg-9">
                <!-- Page Content -->
                <div id="page-content">
                    <div id="page-content-wrapper-float-favoritos">
                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                    </div>
                    <div class="row">
                        <!--<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Menu</a>-->

                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-left cpanel-user-container-titulo">
                            <h3>MIS FAVORITOS</h3>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                            <div class="item_box">
                                <div class="pic">
                                <a href="detalle-curso.php">
                                    <figure><img src="http://lorempixel.com/640/480/business/" class="img-responsive"></figure>
                                    <div class="hover-effect">
                                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                                    </div>
                                </a>
                                <div class="iconolink">
                                    <span class="heart">
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <div class="price"><span class="amount">$1200</span></div>
                                </div>
                                <div class="mini-descrip">
                                    <div class="entry-title">
                                        <a href="detalle-curso.php">
                                            <h3>Introduccion al Lenguaje Humano</h3>
                                        </a>
                                    </div>
                                    <div class="entry-data">
                                        <label><i class="fa fa-clock-o" aria-hidden="true"></i> 46 horas</label>
                                        <label><i class="fa fa-user" aria-hidden="true"></i> Sebastian Olivera</label>
                                    </div>
                                    <p class="entry-summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the book.</p>
                                </div>
                                <div class="proof">
                                    <a href="detalle-curso.php" class="btn btn-primary">COMPRAR CURSO</a>
                                </div>
                            </div>
                            <div class="item_box">
                                <div class="pic">
                                <a href="detalle-curso.php">
                                    <figure><img src="http://lorempixel.com/640/480/business/" class="img-responsive"></figure>
                                    <div class="hover-effect">
                                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                                    </div>
                                </a>
                                <div class="iconolink">
                                    <span class="heart">
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <div class="price"><span class="amount">$1200</span></div>
                                </div>
                                <div class="mini-descrip">
                                    <div class="entry-title">
                                        <a href="detalle-curso.php">
                                            <h3>Introduccion al Lenguaje Humano</h3>
                                        </a>
                                    </div>
                                    <div class="entry-data">
                                        <label><i class="fa fa-clock-o" aria-hidden="true"></i> 46 horas</label>
                                        <label><i class="fa fa-user" aria-hidden="true"></i> Sebastian Olivera</label>
                                    </div>
                                    <p class="entry-summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the book.</p>
                                </div>
                                <div class="proof">
                                    <a href="detalle-curso.php" class="btn btn-primary">COMPRAR CURSO</a>
                                </div>
                            </div>
                            <div class="item_box">
                                <div class="pic">
                                <a href="detalle-curso.php">
                                    <figure><img src="http://lorempixel.com/640/480/business/" class="img-responsive"></figure>
                                    <div class="hover-effect">
                                        <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                                    </div>
                                </a>
                                <div class="iconolink">
                                    <span class="heart">
                                        <i class="fa fa-heart-o" aria-hidden="true"></i>
                                    </span>
                                </div>
                                <div class="price"><span class="amount">$1200</span></div>
                                </div>
                                <div class="mini-descrip">
                                    <div class="entry-title">
                                        <a href="detalle-curso.php">
                                            <h3>Introduccion al Lenguaje Humano</h3>
                                        </a>
                                    </div>
                                    <div class="entry-data">
                                        <label><i class="fa fa-clock-o" aria-hidden="true"></i> 46 horas</label>
                                        <label><i class="fa fa-user" aria-hidden="true"></i> Sebastian Olivera</label>
                                    </div>
                                    <p class="entry-summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the book.</p>
                                </div>
                                <div class="proof">
                                    <a href="detalle-curso.php" class="btn btn-primary">COMPRAR CURSO</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /#page-content-wrapper -->
            </div>
        </div>
    </section>

<div ng-include = "UserFavoritos.footerTemplate.url" ></div>