<div ng-include = "detalleCurso.menuTemplate.url" ></div>

<header class="container-fluid details">
      <div class="row">
          <div class="container">
              <div class="row">
                  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 details-curso-div-1">
                      <div class="text-center">
                        <h2>{{ curso.nombre }}</h2>
                      </div>
                      <div class="line"></div>
                      <div class="col-xs-12 col-sm-12 hidden-md hidden-lg details-curso-div-2">
                          <div>
                              <img ng-src="{{ curso.imagen }}" class="img-responsive">
                              <div class="iconolink-2">
                                  <span class="heart">
                                      <i class="fa fa-heart-o" aria-hidden="true"></i>
                                  </span>
                              </div>
                              <div class="price-2">
                                  <span class="amount">{{ curso.precio | currency }}</span>
                              </div>
                          </div>
                      </div>
                      <p>{{ curso.descripcion }}</p>
                        <label><i class="fa fa-clock-o" aria-hidden="true"></i> {{ curso.horas }}</label>
                        <label><i class="fa fa-user" aria-hidden="true"></i>
                          <span>{{user.name}}</span>
                        </label>
                        <a href="" class="btn btn-primary" ng-click="comprar(curso.nombre)">COMPRAR CURSO</a>
                  </div>
                  <div class="hidden-xs hidden-sm col-md-6 col-lg-6 details-curso-div-2">
                      <div>
                          <img src="{{ curso.imagen }}" class="img-responsive">
                          <div class="iconolink-2">
                              <span class="heart">
                                  <i class="fa fa-heart-o" aria-hidden="true"></i>
                              </span>
                          </div>
                          <div class="price-2">
                              <span class="amount">$ {{ curso.precio }}</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
</header>

<section class="container details-tabs" ng-controller="tabController">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" data-target="#home">MÓDULOS</a></li>
                <li><a data-toggle="tab" data-target="#menu1">DESCRIPCIÓN DEL CURSO</a></li>
                <li  class="tab"><a data-toggle="tab" data-target="#menu2">Q&A</a></li>
            </ul>
            <div class="tab-content" >
                <div id="home" class="tab-pane fade in active">
                    <!--TAB 1 -->
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 details-tabs-moduls-1" ng-repeat="m in modulos">
                            <div class="details-tabs-moduls-1-1-active"></div>
                            <div class="details-tabs-moduls-1-2">
                                <h3>{{m.titulo}}</h3>
                                <p>{{m.descripcion}}</p>
                                <a href="" ng-click="showDetails = ! showDetails">
                                  <i class="fa fa-angle-right" ng-show="!showDetails" id="cpanel-user-icon-fa-angle" aria-hidden="true"></i>
                                  <i class="fa fa-angle-down" ng-show="showDetails" id="cpanel-user-icon-fa-angle" aria-hidden="true"></i> 
                                  5 CLASES</a>
                            </div>
                            <div class="details-tabs-moduls-1-3-active" ng-show="showDetails">
                                <div class="details-tabs-moduls-1-3-clase">
                                    <div class="details-tabs-moduls-1-3-icon-active"></div>
                                    <div class="details-tabs-moduls-1-3-clase-inactive">
                                        <h4>CLASE 0: INTRODUCCIÓN AL CURSO</h4>
                                        <p>02:45</p>
                                    </div>
                                </div>
                                <div class="details-tabs-moduls-1-3-clase" ng-repeat="clase in m.clases">
                                    <div class="details-tabs-moduls-1-3-icon-inactive"></div>
                                    <div class="details-tabs-moduls-1-3-clase-inactive">
                                        <h4>{{clase.titulo}}</h4>
                                        <p>02:45</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="menu1" class="tab-pane fade">
                    <!--TAB 2 -->
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 details-tabs-div-1">
                            <h3>SOBRE ESTE CURSO</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 details-tabs-div-2">
                            <div class="details-tabs-div-2-text">
                                <h3>Dicta el curso Sebastian Olivera</h3>
                                <h4>Director de Ventas en Coca-Cola | Profesor de Oratoria</h4>
                                <div class="col-xs-12 hidden-sm hidden-md hidden-lg details-tabs-div-2-img" style="width:100%; margin-bottom:10px">
                                    <img src="images/empleado.jpg">
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                                    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                                    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                                    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                            </div>
                            <div class="hidden-xs details-tabs-div-2-img">
                                <img src="images/empleado.jpg">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 details-tabs-div-3">
                            <h3>¿Qué voy a aprender?</h3>
                            <ul class="details-tabs-div-3-ul list-inline text-uppercase">
                                <li><i class="fa fa-circle" aria-hidden="true"></i> ORATIORIA PARTE 1</li>
                                <li><i class="fa fa-circle" aria-hidden="true"></i> ORATIORIA PARTE 1</li>
                                <li><i class="fa fa-circle" aria-hidden="true"></i> ORATIORIA PARTE 1</li>
                                <li><i class="fa fa-circle" aria-hidden="true"></i> ORATIORIA PARTE 1</li>
                                <li><i class="fa fa-circle" aria-hidden="true"></i> ORATIORIA PARTE 1</li>
                                <li><i class="fa fa-circle" aria-hidden="true"></i> ORATIORIA PARTE 1</li>
                            </ul>
                        </div>
                    </div>
                </div>
                 <!-- tab-pane_inactive -->
                <div id="menu2" class="tab-pane fade">
                     <!--TAB 3 -->
                     <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 details-tabs-qya-1">
                            <div class="details-tabs-qya-1-box-1">
                                <div class="details-tabs-qya-1-box-img">
                                    <img src="images/empleado_1.jpg" alt="perfil profesor">
                                </div>
                                <div class="details-tabs-qya-1-box-text">
                                    <h3>CÓMO PUEDO IMPLEMENTAR LA TÉCNICA? </h3>
                                    <p>Jorge Perez <span>Fecha: 04/03/17</span></p>
                                </div>
                                <div class="details-tabs-qya-1-box-1-box-float-inactive">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="details-tabs-qya-1-box-2-inactive"></div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 details-tabs-qya-1">
                            <div class="details-tabs-qya-1-box-1">
                                <div class="details-tabs-qya-1-box-img">
                                    <img src="images/empleado_1.jpg" alt="perfil profesor">
                                </div>
                                <div class="details-tabs-qya-1-box-text">
                                    <h3>CÓMO PUEDO IMPLEMENTAR LA TÉCNICA? </h3>
                                    <p>Jorge Perez <span>Fecha: 04/03/17</span></p>
                                </div>
                                <div class="details-tabs-qya-1-box-1-box-float-inactive">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="details-tabs-qya-1-box-2-inactive"></div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 details-tabs-qya-1">
                            <div class="details-tabs-qya-1-box-1">
                                <div class="details-tabs-qya-1-box-img">
                                    <img src="images/empleado_1.jpg" alt="perfil profesor">
                                </div>
                                <div class="details-tabs-qya-1-box-text">
                                    <h3>CÓMO PUEDO IMPLEMENTAR LA TÉCNICA? </h3>
                                    <p>Jorge Perez <span>Fecha: 04/03/17</span></p>
                                </div>
                                <div class="details-tabs-qya-1-box-1-box-float-inactive">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="details-tabs-qya-1-box-2-inactive"></div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 details-tabs-qya-1 details-tabs-qya-1-active ">
                            <div class="details-tabs-qya-1-box-1">
                                <div class="details-tabs-qya-1-box-img">
                                    <img src="images/empleado_1.jpg" alt="perfil profesor">
                                </div>
                                <div class="details-tabs-qya-1-box-text">
                                    <h3>PREGUNTE ¿CÓMO PUEDO IMPLEMENTAR LA TÉCNICA? POR 4 VEZ! </h3>
                                    <p>Jorge Perez <span>Fecha: 04/03/17</span></p>
                                </div>
                                <div class="details-tabs-qya-1-box-1-box-float-active">
                                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                                </div>
                            </div>
                            <div class="details-tabs-qya-1-box-2-active">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 details-tabs-qya-1-box-2-answers">
                                        <h4>SEBASTIAN PEREZ</h4>
                                        <p>La técnica puede ser implementada mediante discursos, charlas, o prácticas propias. Podémos organizar una reunión y hacer una práctica virtual.</p>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 details-tabs-qya-1-box-2-answers">
                                        <h4>TU RESPUESTA</h4>
                                        <p>La técnica puede ser implementada mediante discursos, charlas, o prácticas propias. Podémos organizar una reunión y hacer una práctica virtual.</p>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 details-tabs-qya-1-box-2-answers">
                                        <h4>SEBASTIAN PEREZ</h4>
                                        <p>La técnica puede ser implementada mediante discursos, charlas, o prácticas propias. Podémos organizar una reunión y hacer una práctica virtual.</p>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 details-tabs-qya-1-box-2-answers details-tabs-qya-1-box-2-form">
                                        <form action="" method="POST" accept-charset="utf-8">
                                            <textarea name="message" id="message" class="form-control" placeholder="Escribe tu respuesta aquí"></textarea>
                                            <input type="submit" class="btn btn-primary" value="ENVIAR">  
                                        </form> 
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
</section>

<div ng-include = "detalleCurso.footerTemplate.url" ></div>