<div ng-include = "main.menuTemplate.url" ></div>

<header class="container-fluid" style="background: url('http://lorempixel.com/1920/640/business/'); background-size: cover;background-position: center center;">
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 slide-home">
                        <div class="slide-title">
                            <h1>MAS DE 100 CURSOS GRATUITOS<br><span>CON CERTIFICACIÓN OFICIAL<span></h1>
                            <a href="" class="btn btn-light">VER CURSOS</a>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 slide-home">
                        <form action="" method="POST" role="form" class="rectangle">
                            <legend>REGISTRATE EN UN SOLO PASO!</legend>
                            <div class="form-group">
                                <input type="text" class="form-control input" name="nombre" id="nombre" placeholder="Nombre y Apellido">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control input" name="email" id="email" placeholder="Email">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control input" name="password" id="password" placeholder="Contraseña">
                            </div>
                            <a href="" class="btn btn-primary">COMENZAR</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="container-fluid">
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center home-container-titulo">
          <h2>CURSOS DISPONIBLES</h2>
          <h4>Cursos sobre lenguaje y oratoria</h4>
          <hr>
      </div>
  </div>
  <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
          <div class="item_box">
              <div class="pic">
              <a href="#/detalle/curso">
                  <figure><img src="http://lorempixel.com/640/480/business/" class="img-responsive"></figure>
                  <div class="hover-effect">
                      <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                  </div>
              </a>
              <div class="iconolink">
                  <span class="heart">
                      <i class="fa fa-heart-o" aria-hidden="true"></i>
                  </span>
              </div>
              <div class="price"><span class="amount">$1200</span></div>
              </div>
              <div class="mini-descrip">
                  <div class="entry-title">
                      <a href="#/detalle/curso">
                          <h3>Introduccion al Lenguaje Humano</h3>
                      </a>
                  </div>
                  <div class="entry-data">
                      <label><i class="fa fa-clock-o" aria-hidden="true"></i> 46 horas</label>
                      <label><i class="fa fa-user" aria-hidden="true"></i> Sebastian Olivera</label>
                  </div>
                  <p class="entry-summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the book.</p>
              </div>
              <div class="proof text-center">
                  <a href="#/detalle/curso" class="btn btn-primary">COMPRAR CURSO</a>
              </div>
          </div>
          <div class="item_box">
              <div class="pic">
              <a href="#/detalle/curso">
                  <figure><img src="http://lorempixel.com/640/480/business/" class="img-responsive"></figure>
                  <div class="hover-effect">
                      <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                  </div>
              </a>
              <div class="iconolink">
                  <span class="heart">
                      <i class="fa fa-heart-o" aria-hidden="true"></i>
                  </span>
              </div>
              <div class="price"><span class="amount">$1200</span></div>
              </div>
              <div class="mini-descrip">
                  <div class="entry-title">
                      <a href="#/detalle/curso">
                          <h3>Introduccion al Lenguaje Humano</h3>
                      </a>
                  </div>
                  <div class="entry-data">
                      <label><i class="fa fa-clock-o" aria-hidden="true"></i> 46 horas</label>
                      <label><i class="fa fa-user" aria-hidden="true"></i> Sebastian Olivera</label>
                  </div>
                  <p class="entry-summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the book.</p>
              </div>
              <div class="proof text-center">
                  <a href="#/detalle/curso" class="btn btn-primary">COMPRAR CURSO</a>
              </div>
          </div>
          <div class="item_box">
              <div class="pic">
              <a href="#/detalle/curso">
                  <figure><img src="http://lorempixel.com/640/480/business/" class="img-responsive"></figure>
                  <div class="hover-effect">
                      <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                  </div>
              </a>
              <div class="iconolink">
                  <span class="heart">
                      <i class="fa fa-heart-o" aria-hidden="true"></i>
                  </span>
              </div>
              <div class="price"><span class="amount">$1200</span></div>
              </div>
              <div class="mini-descrip">
                  <div class="entry-title">
                      <a href="#/detalle/curso">
                          <h3>Introduccion al Lenguaje Humano</h3>
                      </a>
                  </div>
                  <div class="entry-data">
                      <label><i class="fa fa-clock-o" aria-hidden="true"></i> 46 horas</label>
                      <label><i class="fa fa-user" aria-hidden="true"></i> Sebastian Olivera</label>
                  </div>
                  <p class="entry-summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the book.</p>
              </div>
              <div class="proof text-center">
                  <a href="#/detalle/curso" class="btn btn-primary">COMPRAR CURSO</a>
              </div>
          </div>
          <div class="item_box">
              <div class="pic">
              <a href="#/detalle/curso">
                  <figure><img src="http://lorempixel.com/640/480/business/" class="img-responsive"></figure>
                  <div class="hover-effect">
                      <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                  </div>
              </a>
              <div class="iconolink">
                  <span class="heart">
                      <i class="fa fa-heart-o" aria-hidden="true"></i>
                  </span>
              </div>
              <div class="price"><span class="amount">$1200</span></div>
              </div>
              <div class="mini-descrip">
                  <div class="entry-title">
                      <a href="#/detalle/curso">
                          <h3>Introduccion al Lenguaje Humano</h3>
                      </a>
                  </div>
                  <div class="entry-data">
                      <label><i class="fa fa-clock-o" aria-hidden="true"></i> 46 horas</label>
                      <label><i class="fa fa-user" aria-hidden="true"></i> Sebastian Olivera</label>
                  </div>
                  <p class="entry-summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the book.</p>
              </div>
              <div class="proof text-center">
                  <a href="#/detalle/curso" class="btn btn-primary">COMPRAR CURSO</a>
              </div>
          </div>
          <div class="item_box">
              <div class="pic">
              <a href="#/detalle/curso">
                  <figure><img src="http://lorempixel.com/640/480/business/" class="img-responsive"></figure>
                  <div class="hover-effect">
                      <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                  </div>
              </a>
              <div class="iconolink">
                  <span class="heart">
                      <i class="fa fa-heart-o" aria-hidden="true"></i>
                  </span>
              </div>
              <div class="price"><span class="amount">$1200</span></div>
              </div>
              <div class="mini-descrip">
                  <div class="entry-title">
                      <a href="#/detalle/curso">
                          <h3>Introduccion al Lenguaje Humano</h3>
                      </a>
                  </div>
                  <div class="entry-data">
                      <label><i class="fa fa-clock-o" aria-hidden="true"></i> 46 horas</label>
                      <label><i class="fa fa-user" aria-hidden="true"></i> Sebastian Olivera</label>
                  </div>
                  <p class="entry-summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the book.</p>
              </div>
              <div class="proof text-center">
                  <a href="#/detalle/curso" class="btn btn-primary">COMPRAR CURSO</a>
              </div>
          </div>
          <div class="item_box">
              <div class="pic">
              <a href="#/detalle/curso">
                  <figure><img src="http://lorempixel.com/640/480/business/" class="img-responsive"></figure>
                  <div class="hover-effect">
                      <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                  </div>
              </a>
              <div class="iconolink">
                  <span class="heart">
                      <i class="fa fa-heart-o" aria-hidden="true"></i>
                  </span>
              </div>
              <div class="price"><span class="amount">$1200</span></div>
              </div>
              <div class="mini-descrip">
                  <div class="entry-title">
                      <a href="#/detalle/curso">
                          <h3>Introduccion al Lenguaje Humano</h3>
                      </a>
                  </div>
                  <div class="entry-data">
                      <label><i class="fa fa-clock-o" aria-hidden="true"></i> 46 horas</label>
                      <label><i class="fa fa-user" aria-hidden="true"></i> Sebastian Olivera</label>
                  </div>
                  <p class="entry-summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the book.</p>
              </div>
              <div class="proof text-center">
                  <a href="#/detalle/curso" class="btn btn-primary">COMPRAR CURSO</a>
              </div>
          </div>
          <div class="item_box">
              <div class="pic">
              <a href="#/detalle/curso">
                  <figure><img src="http://lorempixel.com/640/480/business/" class="img-responsive"></figure>
                  <div class="hover-effect">
                      <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                  </div>
              </a>
              <div class="iconolink">
                  <span class="heart">
                      <i class="fa fa-heart-o" aria-hidden="true"></i>
                  </span>
              </div>
              <div class="price"><span class="amount">$1200</span></div>
              </div>
              <div class="mini-descrip">
                  <div class="entry-title">
                      <a href="#/detalle/curso">
                          <h3>Introduccion al Lenguaje Humano</h3>
                      </a>
                  </div>
                  <div class="entry-data">
                      <label><i class="fa fa-clock-o" aria-hidden="true"></i> 46 horas</label>
                      <label><i class="fa fa-user" aria-hidden="true"></i> Sebastian Olivera</label>
                  </div>
                  <p class="entry-summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the book.</p>
              </div>
              <div class="proof text-center">
                  <a href="#/detalle/curso" class="btn btn-primary">COMPRAR CURSO</a>
              </div>
          </div>
          <div class="item_box">
              <div class="pic">
              <a href="#/detalle/curso">
                  <figure><img src="http://lorempixel.com/640/480/business/" class="img-responsive"></figure>
                  <div class="hover-effect">
                      <i class="fa fa-play-circle-o" aria-hidden="true"></i>
                  </div>
              </a>
              <div class="iconolink">
                  <span class="heart">
                      <i class="fa fa-heart-o" aria-hidden="true"></i>
                  </span>
              </div>
              <div class="price"><span class="amount">$1200</span></div>
              </div>
              <div class="mini-descrip">
                  <div class="entry-title">
                      <a href="#/detalle/curso">
                          <h3>Introduccion al Lenguaje Humano</h3>
                      </a>
                  </div>
                  <div class="entry-data">
                      <label><i class="fa fa-clock-o" aria-hidden="true"></i> 46 horas</label>
                      <label><i class="fa fa-user" aria-hidden="true"></i> Sebastian Olivera</label>
                  </div>
                  <p class="entry-summary">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the book.</p>
              </div>
              <div class="proof text-center">
                  <a href="#/detalle/curso" class="btn btn-primary">COMPRAR CURSO</a>
              </div>
          </div>
      </div>
  </div>
</section>

<section class="container-fliud" id="home-como-funciona" style="background: url('http://lorempixel.com/640/480/business/'); background-repeat: no-repeat; background-size: cover">
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center">
              <h2>¿Cómo funciona?</h2>
          </div>
      </div>
      <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
              <div class="home-como-funciona-icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
              <div class="line"></div>
              <div class="home-como-funciona-text">
                  <p>Sin horarios, ni conocimiento previo, aprendes a tu propio ritmo desde el lugar que elijas y en español. Realiza tus prácticas desde un computador con acceso a internet. Tu tablet o móvil son un instrumento perfecto para avanzar también en la teoría.
                  </p>
              </div>
          </div>
           <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
              <div class="home-como-funciona-icon"><i class="fa fa-clock-o" aria-hidden="true"></i></div>
              <div class="line"></div>
              <div class="home-como-funciona-text">
                  <p>Todo el material que necesitas, incluyendo videos de instrucción, el apoyo de expertos en tecnología digital a través de ‘Tutor Café’ y tutorías privadas, están disponibles en la plataforma de aprendizaje online a la que puedes acceder las 24 horas
                  </p>
              </div>
          </div>
           <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 text-center">
              <div class="home-como-funciona-icon"><i class="fa fa-check-square-o" aria-hidden="true"></i></div>
              <div class="line"></div>
              <div class="home-como-funciona-text">
                  <p>Una vez termines el curso, obtendrás un ‘Certiﬁcado’ con aplicaciones internacionales que resaltará tus nuevas competencias que contará con un código personal de fácil veriﬁcación online y reconocimiento en LinkedIn.
                  </p>
              </div>
          </div>
      </div>
</section>

<div ng-include = "main.footerTemplate.url" ></div>